/* LOGIN STYLE STARTS */

body {
            margin: 0;
            font-family: 'Segoe UI', Arial, sans-serif;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
             url('images/Client-Management.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-card {
            width: 90%;
            max-width: 380px;
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(12px);
            padding: 35px;
            border-radius: 18px;
            text-align: center;
            color: #fff;
        }

        /* Logo */
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;
        }

        .logo-icon {
            width: 50px;
            height: 50px;
            background: linear-gradient(135deg, #2f7bff, #3f8cff);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 24px;
            margin-right: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }

        .logo-text {
            font-size: 28px;
            font-weight: 600;
        }

        .logo-text span {
            font-weight: 400;
            color: #3f8cff;
        }

        /* Input Boxes */
        .input-box {
            display: flex;
            align-items: center;
            background: rgba(255, 255, 255, 0.9);
            padding: 12px;
            border-radius: 10px;
            margin: 15px 0;
            color: #555;
        }

        .input-box i {
            margin-right: 10px;
        }

        .input-box input {
            border: none;
            outline: none;
            width: 100%;
            font-size: 15px;
            background: transparent;
        }

        /* Login Button */
        .btn {
            width: 100%;
            padding: 14px;
            border: none;
            border-radius: 10px;
            background: linear-gradient(to right, #2f7bff, #3f8cff);
            color: white;
            font-size: 17px;
            cursor: pointer;
            margin-top: 15px;
        }

        /* Note */
        .note {
            font-size: 13px;
            margin-top: 18px;
            opacity: .85;
        }


        /* LOGIN STYLE END */


